<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background-color: #a7a7a7;color: rgb(188,248,179);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>Panel<br>Administratora</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Statystyki</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="users.html"><i class="fas fa-user"></i><span>Użytkownicy</span></a></li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="rooms.html"><i class="fas fa-desktop"></i><span>Sale konferencyjne</span></a><a class="nav-link" href="booking.html"><i class="fas fa-table"></i><span>Rezerwacje</span></a><a class="nav-link" href="booking.html"><i class="far fa-sticky-note"></i><span>Strona główna</span></a>
                <a class="nav-link" href="booking.html"><i class="fas fa-power-off"></i><span>Wyloguj</span></a>
            </li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
        </ul>
    </div>
</nav>